*, #root, ::after , ::before{
    margin: 0;
    padding: 0;
}
.wrapper{
    padding: 0;
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

#root #logo{
    padding: 2px;
    width: 90px;
    height: 80px;
    border-radius: 65px;
}

.header{
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 1px solid black;
    /* background-color: rgb(233, 218, 246); */
}

.header  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.header ul li{
    padding: 10px;
    font-size:larger;
    font-weight: bold;
}
.header ul li .link{
    text-decoration: none;
    color: #3d4152;
    transition: all 2ms ease-in-out;
}
.header ul li .link:hover{
    color: gold;
}
.nav-item{
    display: flex;
    align-items: center;
    gap:10px;
    
}
.login-btn ,.top-rated-btn ,.search-btn{
    padding: 10px 15px;
    cursor: pointer;
    font-size: medium;
    font-weight:bold;
    border-radius: 5px;
    background:rgba(247, 247, 254, 0.943);
    color: #3d4152;
    transition: all 2ms ease-in;
}
.login-btn:hover ,.top-rated-btn:hover ,.search-btn:hover {
    color: gold;
}
.search-input{
    padding: 10px 15px;
    font-size: medium;
    border-radius: 5px;
}
.filter{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.restaurant-List{
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.card:hover{
    transform: scale(0.95);
}

.card {
    width: 214px;
    padding: 10px;
    margin: 10px;
    border: 0px solid white;
    cursor: pointer;
    line-height: 24px;
    box-shadow:0 0 20px #d7cece94;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    letter-spacing: -0.3px;
}

.restaurant-name{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.cuisines{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color:rgba(2, 6, 12, 0.6);
}
.rating-container{
    display: flex;
    gap:4px;
    align-items: center;
}
.card  .dot{
    height: 4px;
    width: 4px;
    background: #000;
    border-radius: 4px;
}

.shimmer{
    background: #dbc8c86b;
    height: 300px;
}
.card > img {
    width: 100%;
    box-shadow:0 0 100px whitesmoke;
    border-radius: 12px;
    margin-bottom: 10px;
}


