*, #root, ::after , ::before{
    margin: 0;
    padding: 0;
}
.wrapper{
    padding: 0;
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

#root #logo{
    padding: 2px;
    width: 90px;
    height: 80px;
    border-radius: 65px;
}

.header{
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 1px solid black;
    /* background-color: rgb(233, 218, 246); */
}

.header  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.header ul li{
    padding: 10px;
    font-size:larger;
    font-weight: bold;
}
.header ul li .link{
    text-decoration: none;
    color: #3d4152;
    transition: all 2ms ease-in-out;
}
.header ul li .link:hover{
    color: gold;
}
.noInternet{
    margin: 60px auto;
    background:rgb(189, 150, 150);
    max-width: 500px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(97, 81, 81, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.noInternet ul{
    margin-left: 30px;
}
.nav-item{
    display: flex;
    align-items: center;
    gap:10px;
    
}
.login-btn ,.top-rated-btn ,.search-btn{
    padding: 10px 15px;
    cursor: pointer;
    font-size: medium;
    font-weight:bold;
    border-radius: 5px;
    background:rgba(247, 247, 254, 0.943);
    color: #3d4152;
    transition: all 2ms ease-in;
}
.login-btn:hover ,.top-rated-btn:hover ,.search-btn:hover {
    color: gold;
}
.search-input{
    padding: 10px 15px;
    font-size: medium;
    border-radius: 5px;
}
.filter{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

/* About Page */
.about-wrapper{
    width: 98%;
    max-width: 500px;
    margin: 50px auto;
    padding:10px 5px;
    text-align: center;
    background:rgb(243, 224, 224);
    box-shadow: 0 0 20px rgba(1, 12, 28, 0.1);
  
    border-radius: 5px;
}
.about-wrapper .about{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.about-img{
    width: 220px;
    height: 220px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 15px;
}
.about .about-info{
    display: flex;
    flex-direction: column;
    font-size: large;
    gap: 20px;
    justify-content: center;
    color: #3c3c49;
}
.socialMediaIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
   
}
.socialMediaIcon a{
    color: rgb(66, 65, 65);
    
}
/* restaurants */
.restaurant-List{
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.card:hover{
    transform: scale(0.95);
}

.card {
    text-decoration: none;
    width: 214px;
    padding: 10px;
    margin: 10px;
    border: 0px solid white;
    cursor: pointer;
    line-height: 24px;
    box-shadow:0 0 20px #d7cece94;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    letter-spacing: -0.3px;
}
.card h3{
    color: black;
}
.restaurant-name{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.cuisines{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color:rgba(2, 6, 12, 0.6);
}
.rating-container{
    display: flex;
    gap:4px;
    align-items: center;
}
.card  .dot{
    height: 4px;
    width: 4px;
    background: #000;
    border-radius: 4px;
}

.shimmer{
    background: #dbc8c86b;
    height: 300px;
}
.card > img {
    width: 100%;
    box-shadow:0 0 100px whitesmoke;
    border-radius: 12px;
    margin-bottom: 10px;
}

/* for restaurant menu  wrapper*/
.restaurant-menu{
    max-width: 768px;
    width: 95%;
    margin: 20px auto;
}
.restaurant-menu .path-part{
   font-weight: lighter;
   font-size:smaller;
   color: #93959f;
}
/* intro section */

.restaurant-intro{
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.restaurant-intro .left-part{
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.restaurant-intro .left-part p{
   color: #7e808c;
  
}

.restaurant-intro .left-part .bike-icon-container{
   display: flex;
   align-items: center;
   gap:5px;
}

.restaurant-intro .right-part {
   background-color: white;
   color: #7e808c;
   border-radius: 5px;
   padding: 5px;
   border-color: #ecf0fe;
   display: flex;
   flex-direction: column;
   gap:5px;
}
.restaurant-intro .right-part .rating-box{
  display: flex;
  align-items: center;
  color: gold;
  font-weight:bolder;
}
.restaurant-intro .right-part .line{
  height: 2px;
  width: 100%;
  background: #929395;
}

.restaurant-menu hr{
    border: 0.1px  solid #c8cbd2;
    margin-bottom: 18px;
}
/* timecost wrapper */
.timeCost-wrapper{
    display: flex;
    align-items: center;
    gap:10px;
    margin-bottom: 18px;
}
.timeIcon ,.costIcon{
   display: flex;
   align-items: center;
   gap: 5px;
   font-weight: bold;
}

/* offer part */
.offer-list{
    display:flex;
    gap: 10px;
    width: 100%;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;

    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: nowrap;
    margin-bottom: 30px;
}
.offer-list::-webkit-scrollbar {
    display: none;
}

.offer-container{
    cursor: pointer;
    padding: 5px;
    position: relative;
    background: white;
    font-size: small;
    display: flex;
    align-items: center;
    gap: 5px;
    border-color: #edeef5;
    border-radius: 5px;
    box-shadow: 2px 3px 4px rgba(193, 137, 137, 0.1);
}
.offer-tag{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: rgb(227, 89, 44);
    font-size: x-small;
    font-weight: 600;
    padding-left: 4px;
    border-left: 2px solid #e9e9eb;
}
.offerInfo-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.offerHeader-wrapper,.offerCode-wrapper{
    display: flex;
    align-items: center;
    gap: 2px;
    color: #525358;
    font-weight: 600;
}
.offerCode-wrapper{
    color: #8b8d96;
    font-size: smaller;
}

/* restaurant Menu */
.menu-lists{ 
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}
.menu-list-wrapper {
    padding: 10px;
    box-shadow: 0 2px 4px rgba(2, 6, 12, 0.1);
}
.menu-list-wrapper .menuTitle-wrapper{
    display: flex;
    background: white;
    width: 100%;
    cursor: pointer;
    border: 0;
    justify-content: space-between;
}
.menu-title {
   font-size: x-large;
   margin-bottom: 10px;
}

.menu-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.menu-list .menu-card{
    position: relative;
    padding: 5px;
    padding-bottom: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    border-bottom: 1px solid #cbccd3;
    box-shadow: 0 2px 4px rgba(70, 72, 75, 0.1);
}
.menu-list .menu-card .left-part{
    color: #3e4152;
    font-size: medium;
    display: flex;
    flex-direction: column;
    gap: 10px;
  
}
.menu-list .menu-card .left-part p{
    color: #3e4152;
    display: flex;
    align-items: center; 
}
.menu-list .menu-card .left-part .description{
    font-size: smaller;
    font-weight:100;
    color: #b0b1b9;
    white-space:break-spaces;
}
.menu-list .menu-card .right-part{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.menu-card .right-part .no-img{
    width: 118px;
    height: 96px;
    visibility: hidden;
}
.menu-card .right-part button{
    border-color: #e4e4eb;
    cursor: pointer;
    transition: all 2ms ease-in-out;
    border-radius: 1px;
}
.right-part .add-btn{
    position: absolute;
    bottom: -15px;
    padding: 8px 30px ;
    font-weight: bold;
    color: #60b246;
    
}

/*Restaurant Menu footer section */
.restaurantMenuFooter{
    background: #f1f1f6;
}
.restaurantLicence-wrapper{
    padding: 12px;
    display: flex;
    align-items:center;
    gap: 15px;
    font-weight: 500;
    color: #93959f;
    border-bottom: 1px solid #84858a;
    margin-bottom: 16px;
}
.restaurantAddress-wrapper{
    padding: 12px;
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
    color: #93959f;
}
.mapPin-icon{
    display: flex;
    margin-top: 15px;
    align-items: center;
    gap: 3px;
}


